<div class="container">
  <div class="middlepart">
    <div class="search-title">
      <img src="img/view-assay.png" width="30px" height="30px" /> Assay Detail
    </div>
    <div>
      <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="nav-item pill-3"><a class="nav-link" href="" ng-click="scrollTo('Identification')">Identification</a></li>
        <li role="presentation" class="nav-item pill-4"><a class="nav-link" href="" ng-click="scrollTo('Related_Samples')">Related Samples</a></li>
        <li role="presentation" class="nav-item pill-1"><a class="nav-link" href="" ng-click="scrollTo('Related_Chemicals')">Related Chemicals</a></li>
      </ul>
    </div>
    <div class="title_about" id="Identification">Identification</div>
      <div ng-repeat="(key, value) in assay_detail_info" class="row bottom-border">
        <div class="col-md-3">
          <label class="control-label">{{key}}</label>
        </div>
        <div class="col-md-9">
          <p>{{value}}</p>
        </div>
      </div>
    <div>
    <div class="title_about" id="Related_Samples">Related Samples</div>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Sample ID</th>
            <th>Assay Time</th>
            <th>Model</th>
            <th>bottom</th>
            <th>top</th>
            <th>logEC50</th>
            <th>hill_slope</th>
            <th>span</th>
            <th>EC50</th>
            <th>Concentration Unit</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="values in assay_sample_info" popover-trigger="mouseenter" popover-placement="top" uib-popover-html="getPopoverContent(values.sample_id)">
            <td><a href="sampleItem/{{values.sample_id}}">{{values.sample_id}}</a></td>
            <td>{{values.sample_id | date}}</td>
            <td>{{values.model}}</td>
            <td>{{(values.bottom != "") ? (values.bottom | number : 3) : ""}}</td>
            <td>{{(values.top != "") ? (values.top | number : 3) : ""}}</td>
            <td>{{(values.logec50 != "") ? (values.logec50 | number : 3) : ""}}</td>
            <td>{{(values.hill_slope != "") ? (values.hill_slope | number : 3) : ""}}</td>
            <td>{{(values.span != "") ? (values.span | number : 3) : ""}}</td>
            <td>{{(values.ec50 != "") ? (values.ec50 | number : 6) : ""}}</td>
            <td>{{values.conc_unit}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="title_about" id="Related_Components">Related Components</div>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Comopnent ID</th>
            <th>Assay Time</th>
            <th>Model</th>
            <th>bottom</th>
            <th>top</th>
            <th>logEC50</th>
            <th>hill_slope</th>
            <th>span</th>
            <th>EC50</th>
            <th>Concentration Unit</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="values in assay_component_info" popover-trigger="mouseenter" popover-placement="top" uib-popover-html="getPopoverContent(values.component_id)">
            <td>{{values.component_id}}</td>
            <td>{{values.assay_time | date}}</td>
            <td>{{values.model}}</td>
            <td>{{(values.bottom != "") ? (values.bottom | number : 3) : ""}}</td>
            <td>{{(values.top != "") ? (values.top | number : 3) : ""}}</td>
            <td>{{(values.logec50 != "") ? (values.logec50 | number : 3) : ""}}</td>
            <td>{{(values.hill_slope != "") ? (values.hill_slope | number : 3) : ""}}</td>
            <td>{{(values.span != "") ? (values.span | number : 3) : ""}}</td>
            <td>{{(values.ec50 != "") ? (values.ec50 | number : 6) : ""}}</td>
            <td>{{values.conc_unit}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="title_about" id="Related_Chemicals">Related Chemicals</div>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Chemical ID</th>
            <th>Assay Time</th>
            <th>Model</th>
            <th>bottom</th>
            <th>top</th>
            <th>logEC50</th>
            <th>hill_slope</th>
            <th>span</th>
            <th>EC50</th>
            <th>Concentration Unit</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="values in assay_chemical_info" popover-trigger="mouseenter" popover-placement="top" uib-popover-html="getPopoverContent(values.chemical_id)">
            <td><a href="chemicalItem/{{values.chemical_id}}">{{values.chemical_id}}</a></td>
            <td>{{values.assay_time | date}}</td>
            <td>{{values.model}}</td>
            <td>{{(values.bottom != "") ? (values.bottom | number : 3) : ""}}</td>
            <td>{{(values.top != "") ? (values.top | number : 3) : ""}}</td>
            <td>{{(values.logec50 != "") ? (values.logec50 | number : 3) : ""}}</td>
            <td>{{(values.hill_slope != "") ? (values.hill_slope | number : 3) : ""}}</td>
            <td>{{(values.span != "") ? (values.span | number : 3) : ""}}</td>
            <td>{{(values.ec50 != "") ? (values.ec50 | number : 6) : ""}}</td>
            <td>{{values.conc_unit}}</td>
          </tr>
          </tr>
        </tbody>
      </table>
  </div>
</div>